<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/imgTI.png" />

	<title> Smart Market</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!-- Tipografia -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway&display=swap" rel="stylesheet">

</head>

<body>
	<!-- Header -->
	<% if (locals.user != undefined ){ %>
		<%- include('./partials/headerLogueado') %>
	<%} else{  %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if (locals.user != undefined) { %>
				<form class="login" action= "/products/create" method="POST">  
					
					<label for="imagen">Imagen:</label>
					<input type="text" id="url_imagen" name="url_imagen" value="<%= locals.old !== undefined && old.url_imagen ? old.url_imagen : "" %>">

					<% if(locals.errors && errors.url_imagen){ %>
						<p> <%= errors.url_imagen.msg %></p>
					  <% } %>
				
					<label for="nombre">Nombre del Producto:</label>
					<input type="text" id="nombre" name="nombre" value="<%= locals.old !== undefined && old.nombre ? old.nombre : "" %>">

					<% if(locals.errors && errors.nombre){ %>
						<p> <%= errors.nombre.msg %></p>
					  <% } %>
				
					<label for="descripcion" >Descripción:</label>
					<textarea id="descripcion" name="descripcion"  cols="50" rows="15" value="<%= locals.old !== undefined && old.descripcion ? old.descripcion : "" %>"></textarea>

					<% if(locals.errors && errors.descripcion){ %>
						<p> <%= errors.descripcion.msg %></p>
					  <% } %>

					<input  class="done" type="submit" value="Crear Producto">
				</form>


			<%} else {%>
				<p><a href="/users/login" class="buy-now-button">¡Ingresá para crear un producto!</a></p>
			<%} %>


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>