<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/imgTI.png" />

	<title> Smart Market</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!-- Tipografia -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway&display=swap" rel="stylesheet">
	
</head>
<body>
	<!-- Header -->
	<% if (locals.user != undefined ){ %>
		<%- include('./partials/headerLogueado') %>
	<%} else{  %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.fotoPerfil%>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.nUsuario%> 
						<a href="/profile/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<p class="tipografia-descripcion"><%= usuario.email%></p>
				<div>
					<ul class="tipografia-descripcion">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>

			<% for(let i = 0; i < 4; i++) { %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products">
							<figure class="product-box_image">
								<img src=<%= productos[i].imagenProducto %> alt=<%= productos[i].nombreProducto %> > 
							</figure>
							<article class="product-box_data">
								<h2 ><%= productos[i].nombreProducto %></h2></h2>
								<p ></p><%= productos[i].descripcion %></p>
								<p ></p>Comentarios: <%= productos[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>

			<% } %>

		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>	
</html>