<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/imgTI.png" />

	<title> Smart Market</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!-- Tipografia -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway&display=swap" rel="stylesheet">
	
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form class="login" action="/users/register/store" method="post">  

				<label for="email">Email:</label>
				<input type="email" name="email" id="email" value="<%= locals.old !== undefined && old.email ? old.email : "" %>">
				
				<% if (locals.errors && errors.email){ %>
					<p> <%= errors.email.msg %></p>
				  <% } %>

				<label for="usuario">Usuario:</label>
				<input type="text" name="usuario" id="usuario" value="<%= locals.old !== undefined && old.usuario ? old.usuario : "" %>">

				<% if (locals.errors && errors.usuario){ %>
					<p> <%= errors.usuario.msg %></p>
				  <% } %>

				<label for="contrasenia">Contraseña:</label>
				<input type="password" name="contrasenia" id="contrasenia" value="">
				
				<% if (locals.errors && errors.contrasenia){ %>
					<p> <%= errors.contrasenia.msg %></p>
				  <% } %>

				<label for="fecha">Fecha de Nacimiento:</label>
				<input type="text" name="fecha" id="fecha" placeholder="AAAA/MM/DD" value="<%= locals.old !== undefined && old.fecha ? old.fecha : "" %>">
				
				<% if (locals.errors && errors.fecha){ %>
					<p> <%= errors.fecha.msg %></p>
				  <% } %>

				<label for="dni">DNI:</label>
				<input type="number" name="dni" id="dni" value="<%= locals.old !== undefined && old.dni ? old.dni : "" %>">

				<% if (locals.errors && errors.dni){ %>
					<p> <%= errors.dni.msg %></p>
				  <% } %>

				<label for="profilePic">Foto de Perfil:</label>
				<input type="text" name="profilePic" id="profilePic" value="<%= locals.old !== undefined && old.profilePic ? old.profilePic : "" %>">

				<% if (locals.errors && errors.profilePic){ %>
					<p> <%= errors.profilePic.msg %></p>
				  <% } %>

				<input class="done" type="submit" value="Registrate">

			</form>


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>